/* Tablet */
@media  (min-width: 48em) and (max-width: 63.9375em) {
    
    section,
    .container{
        width: 730px;
    }

    section ul{
        grid-template-columns: repeat(2, 1fr);;
    }
}

/* all mobile */
@media (max-width: 47.9375em){
    section,
    .container{
        width: 90%;
    }

}

/* Mobile */
@media  (min-width: 30em) and (max-width: 47.9375em) {
    section ul{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

/* Mobile small */
@media (max-width: 29.9375em){
    section ul{
        grid-template-columns: repeat(1, 1fr);
    }
}