*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial,Helvetica,sans-serif;
}

:root{
    --black-color: #000;
    --white-color: #fff;
    --main-color: #108fd8;
    --bgr-color: #05649a;
    --red-color: #d0021c;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: var(--black-color);
}


main{
    width: 100%;
    background-color: #f3f3f3;
}

/* header */
header{
    width: 100%;
    height: auto;
    background-image: url(../img/background.jpg);
}

@keyframes anima{
    from{
        opacity: 0;
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);

    }to{
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
}

@keyframes opacity{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

/* article */
article{
    width: 100%;
    margin-top: 40px;
}

.content{
    width: 100%;
    padding-bottom: 80px;
}

.cart-empty{
    width: 800px;
    height: 600px;
    margin: auto;
    display: flex;
    gap: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-cart i{
    font-size: 3.5rem;
    color: var(--main-color);
}

.return-home a{
    padding: 10px 50px;
    border: 2px solid var(--main-color);
    transition: all ease 0.5s;
}

.return-home a:hover{
    background-color: var(--main-color);
    color: var(--white-color);
}

.cart-far{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cart-product{
    width: 650px;
    height: auto;
    box-shadow: 0 0 10px #ccc;
    background-color: var(--white-color);
}

.cart-product tr{
    width: 100%;
}

.tb1 thead tr{
    height: 50px;
    border-color: #eee;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.cart-product th,
.cart-product td{
    text-align: left;
}

.cart-product th:nth-child(2),
.cart-product td:nth-child(2){
    text-align: center;
    width: 20%;
}

.cart-product th:nth-child(3),
.cart-product td:nth-child(3){
    width: 20%;
}

.cart-product td:nth-child(3) button{
    border: none;
}
.cart-product td:nth-child(4),
.cart-product th:nth-child(4){
    padding-right: 15px;
}

.product-item{
    height: 100px;
}

.product-item td:first-child{
    height: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-item td:last-child button{
    cursor: pointer;
}

.product-item td:last-child button:hover{
    opacity: 0.7;
}

.product-img{
    width: 15%;
}

.product-img img{
    width: 100%;
}

.product-name{
    width: 80%;
}

.product-name h5{
    width: 100%;
    font-size: 0.9rem;
}

.price{
    display: flex;
    flex-direction: column;
}

.new-price{
    color: var(--red-color);
}

.new-price,
.old-price{
    font-size: 0.9rem;
}

.input{
    width: 100%;
    display: flex;
}

.input input{
    width: 40px;
    height: 30px;
    text-align: center;
    border: none;
    border: 1px solid #ccc;
}

.input input:focus{
    outline: none;
}

.input button{
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    border: none;
    border: 1px solid #ccc;
    background-color: var(--white-color);
    color: var(--main-color);
    cursor: pointer;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* pay */
.pay-product{
    width: 300px;
    height: 150px;
    box-shadow: 0 0 10px #ccc;
}

.price-pay{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.price-pay>span{
    margin-left: 10px;
}

.price-pay>p{
    margin-right: 10px;
    font-weight: 600;
}

.btn-pay{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-pay a{
    padding: 6px 12px;
    font-size: 0.9rem;
    border: 2px solid var(--main-color);
    transition: all ease 0.5s;
}

.btn-pay a:hover{
    background-color: var(--main-color);
    color: var(--white-color);
}


/* footer */
footer{
    width: 100%;
    background-color: var(--white-color);
    margin-top: 50px;
}

.pay{
    width: 30%;
}

.pay ul{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    margin-top: 15px;
}

.pay img{
    width: 90%;
}

.cap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #f5f5f5;
}